src/main/mule/mule-oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="e037e564-d4ee-4735-be64-0d25c921d8f6" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="e68e1182-2214-4765-b8be-6cb9d1e4a18e" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74ad1f67-3191-4aad-ad62-9a33db9bdae0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="a70f2a01-8768-4004-8520-cdc0db8aa512" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS">
		<oauth2-provider:token-config tokenStore="token_os" />
	</oauth2-provider:config>
	<flow name="mule-oauth-providerFlow" doc:id="824697c4-6e4d-4286-98c0-ebcd8f73a35e" >
		<http:listener doc:name="Listener" doc:id="8442cd23-c206-4062-b66e-c5eaf1097146" config-ref="HTTP_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="98d3e460-6d31-447b-ba43-5d922bbf89a9" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type="CONFIDENTIAL" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' redirectUris='#[["abc.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]'/>
		<set-payload value='#["Client Created"]' doc:name="Set Payload" doc:id="42431609-7f72-4227-b753-8047d49c9e2b" />
	</flow>
	<flow name="mule-oauth-providerFlow1" doc:id="f124a791-ddb4-4e3e-849f-5e082b98a17d" >
		<http:listener doc:name="Listener" doc:id="39c88328-c53f-4be9-887c-b024b8d7e411" config-ref="HTTP_Listener_config" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="fb060741-5756-4447-bd2c-a02da2a940d7" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="dc3fb89a-f37e-470f-a632-40db2d963ef9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
